<nav class="nav nav-pills nav-stacked">
  <a class="nav-link disabled title" href="#">Playlists</a>
  <!--TODO add active to the current one-->
  <a
    class="nav-link"
    *ngFor="let playlist of playlistsList; let i=index"
    (click)="selectPlaylist(i)"
    [class.active]="i === currentPlaylistKey"
  >
    {{playlist.name}} <span class="tag" *ngIf="playlist.isPrivate">private</span>
  </a>
  <!--Ajout playlist-->
  <form (ngSubmit)="addPlaylist()" #addPlaylistForm="ngForm">
      <!--A<div class="form-group">
        <input class="form-control" id="addPlaylist"
                ngControl="addPlaylist"
                required
                [(ngModel)]="playlist.name" name="addPlaylist"
                #name="ngModel">
        <alert [hidden]="email.valid || email.pristine">
          Email is required
        </alert>
      </div>-->
      <button type="submit" class="btn btn-primary" [disabled]="!addPlaylistForm.form.valid">Add</button>
  </form>
</nav>
