<nav class="nav nav-pills nav-stacked">
  <a class="nav-link disabled title" href="#">Playlists</a>
  <!--TODO add active to the current one-->
  <a
    class="nav-link"
    *ngFor="let playlist of playlistsList; let i=index"
    (click)="selectPlaylist(i)"
    [class.active]="i === currentPlaylistKey"
  >
    {{playlist.name}} <span class="tag" *ngIf="playlist.isPrivate">private</span>
  </a>
  <button md-mini-fab (click)="addPlaylist()">
    <md-icon class="md-24">add</md-icon>
  </button>
  </nav>
