  <!--<form class="form-inline float-xs-right">
    <input class="form-control" (input)="term$.next($event.target.value)">
    <ul *ngIf="tracks">
      <li *ngFor="track of tracks">{{track.title}}</li>
    </ul>
    <button class="form-inline btn btn-outline-info" type="submit">Search</button>
  </form>-->

    <!--<form class="form-inline float-xs-right">
    <input class="form-control" type="text"[formControl]="myControl">
    <ul *ngIf="tracks">
      <li *ngFor="let track of tracks |async">{{track.title}}</li>
    </ul>
    <button class="form-inline btn btn-outline-info" type="submit">Search</button>
  </form>-->
  <form class="form-inline float-xs-right">
      <div class="form-group">
        <label for="friends">Search</label>
        <input [(ngModel)]="asyncSelected"
              [typeahead]="dataSource"
              (typeaheadLoading)="changeTypeaheadLoading($event)"
              (typeaheadNoResults)="changeTypeaheadNoResults($event)"
              (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeaheadOptionsLimit]="7"
              [typeaheadOptionField]="'title'"
              class="form-control"
              name="tracks">
        <div *ngIf="typeaheadLoading===true">
          <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
        </div>
        <div *ngIf="typeaheadNoResults===true" class="" style="">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
  </form>
