<md-toolbar color="primary">Add Playlist</md-toolbar>
<md-card-content>
  <div>
    <md-input placeholder="Name" style="width: 100%" [(ngModel)]="playlist.name" name="playlist"></md-input>
    <md-input placeholder="Descriprton" style="width: 100%" [(ngModel)]="playlist.description" name="playlist"></md-input>
    <md-radio-group selected [(ngModel)]="playlist.public">
      <md-radio-button value="true">public</md-radio-button>
      <md-radio-button value="false">private</md-radio-button>
    </md-radio-group>
  </div>
  <div>
    <button md-mini-fab (click)="addPlaylist()">
      <md-icon class="md-24">add</md-icon>
    </button>
    <button md-mini-fab (click)="dialogRef.close()">
      <md-icon class="md-24">clear</md-icon>
    </button>
  </div>
</md-card-content>