<div class="api-search">
  <div class="searchbox">
    <app-searchbox [term]="searchTerm"></app-searchbox>
  </div>
  <div class="search-results">
    <!--TODO hide table when there are no results, it can't be hidden perhaps since tracks is Observable-->
    <!--<div class="no-results" *ngIf="tracks.length===0">
    We couldn’t find any code matching {{searchTerm}}
    </div>
    <div class="with-results" *ngIf="tracks.length>0">-->
    <div [hidden]="!tracks">
      <app-searchresults [tracks]="tracks"></app-searchresults>
    </div>
  </div>
</div>
