<div class="dialog">
  <md-toolbar *ngIf="new" color="primary">Add Playlist</md-toolbar>
  <md-toolbar *ngIf="!new" color="primary">Edit "{{title}}"</md-toolbar>
  <md-card-content>
    <div>
      <md-input placeholder="Name" style="width: 100%" [(ngModel)]="title"></md-input>
      <md-input placeholder="Description" style="width: 100%" [(ngModel)]="description"></md-input>
      <md-slide-toggle [checked]="public">
      Public
      </md-slide-toggle>
    </div>
    <!--If this dialog is for add a new playlist-->
    <div *ngIf="new">
      <button md-button (click)="addPlaylist()">
        <md-icon class="md-24">add</md-icon>
      </button>
    </div>
    <!--If this dialog is for edit an existing playlist-->
    <div *ngIf="!new">
      <button md-button (click)="editPlaylist()">
        <md-icon class="md-24">update</md-icon>
      </button>
    </div>
    <button md-button (click)="dialogRef.close()">
        <md-icon class="md-24">clear</md-icon>
      </button>
  </md-card-content>
</div>