<!--<div>
  <h3>Live feed</h3>

  <ul *ngFor="let message of messages | async" class="list-group">
    <li class="list-group-item">{{message.title}}</li>
  </ul>

  <button class="btn btn-sm btn-outline-default" (click)="onPingButton()">Ping</button>
</div>-->

<md-card>
  <button class="btn btn-sm btn-outline-default" (click)="onPingButton()">Ping</button>

  <md-list class="feed" dense>
    <md-list-item *ngFor="let message of messages$ | async">
      <h3 md-line>{{message.title}}</h3>
      <p md-line>
        <span>{{message.description}}</span>
      </p>
    </md-list-item>
  </md-list>
</md-card>
