<div class="wrapper">
  <div class="container">
    <h2>Profile</h2>

    <div *ngIf="!connected">
      Please connect to edit your profile.
    </div>

    <form *ngIf="user" (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
                ngControl="email"
                required
                autofocus
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="user.email" name="email"
                #email="ngModel">
        <alert [hidden]="email.valid || email.pristine">
          Email is required
        </alert>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
                minlength="3"
                placeholder="Let empty if you dont want to edit"
                [(ngModel)]="user.password" name="password"
                #password="ngModel">
        <alert
          [hidden]="password.valid || password.pristine">
          A password longer than 3 characters is required.
        </alert>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age"
                [(ngModel)]="user.age" name="age"
                #age="ngModel">
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country"
                [(ngModel)]="user.country" name="country"
                #country="ngModel">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city"
                [(ngModel)]="user.city" name="city"
                #city="ngModel">
      </div>

      <div class="form-group">
        <label for="picture">Picture:</label>
        Please use <a href="http://www.gravatar.com">Gravatar</a> for your profile picture!
      </div>

      <div class="form-group mb-3">
        <label for="friends">Friends</label>
        <ul *ngFor="let friend of user.friends">
            <li><a routerLink="/profile/{{friend._id}}">{{friend.email}}</a> <a href="#" (click)="onRemove(friend)">Remove</a></li>
        </ul>
        <input [(ngModel)]="asyncSelected"
              [typeahead]="dataSource"
              [typeaheadWaitMs]="100"
              (typeaheadLoading)="changeTypeaheadLoading($event)"
              (typeaheadNoResults)="changeTypeaheadNoResults($event)"
              (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeaheadOptionsLimit]="7"
              [typeaheadOptionField]="'email'"
              class="form-control"
              name="friends">
        <div *ngIf="typeaheadLoading===true">
          <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
        </div>
        <div *ngIf="typeaheadNoResults===true" class="" style="">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
      <button class="btn btn-default-outline" (click)="onLogout()">Cancel</button>
    </form>
  </div>
</div>
