table, td, th {
    border-collapse: collapse;
}

table {
    margin-top: 20px;
    // background-color: #F5F5F5;

    .title {
      text-align: left;
      font-size: 110%;
    }
}

td, th {
    padding: 10px;
}

th {
    text-align: right;
}
