table {
    border: 1px solid black;
}

.remove {
    color: red;
    font-weight: bold;
}

label {
    font-weight: bold;
    padding-top: 5px;
    display: block;
    margin-top: 15px;
}

input {
    margin-bottom: 15px;
}

form {
    width: 400px;
}