$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

// Datatable
@import '../node_modules/angular2-data-table/src/components/datatable.scss';
@import '../node_modules/angular2-data-table/src/themes/material.scss';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  // background: #f6f6f6;
}

.wrapper {
  padding-top: 54px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  // background: #eaa; // Debug only
  position: absolute;
}

// Plyr customization
.plyr--audio .plyr__controls {
  background: transparent;
  color: #fbfbfb;
  border: none;
}
